@media only screen and (min-width: 610px) {
  body {
    background-image: url(../images/image-hero-desktop.jpg);
  }
  nav {
    height: 14vh;
  }

  .bookmark-button {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    padding-right: rem(30px);
    border-radius: 30px;
    font-size: rem(14px);
    font-weight: $fw-3;
    color: $n-dark-grey;
    transition: all 0.25s ease;
    svg {
      margin-right: rem(20px);
    }
    &:hover {
      opacity: 0.8;
    }
  }

  .product-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 800px) {
  nav {
    height: 18vh;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: rem(10px) auto;
  }
  .nav-btn {
    display: block;
  }
  #menu-btn {
    display: none;
  }
  #menu-list {
    all: unset;
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    li {
      border: none;
      cursor: pointer;
    }
  }
}
@media only screen and (min-width: 1080px) {
  nav {
    height: 25vh;
  }
}
