.success-background {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.25s ease;

  visibility: hidden;
  opacity: 0;
}

.body-modal {
  padding-right: rem(15px);
  overflow-y: hidden;
}

.pledge-background {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  overflow-y: scroll;
  transition: all 0.33s ease;

  visibility: hidden;
  opacity: 0;
}
