nav {
  height: 25vh;
  position: relative;
  z-index: 2;
}
.nav-btn {
  display: flex;
  justify-content: space-between;
  margin: rem(30px);
}

#menu-btn {
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-lists {
  visibility: hidden;
  height: 0;
  list-style-type: none;
  width: 85%;
  margin: auto;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  li {
    padding: rem(10px);
    margin: rem(10px);
    font-weight: $fw-2;
    border-bottom: solid 1px rgb(212, 212, 212);
  }
  li:nth-child(3) {
    border-bottom: none;
  }
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

.menu-active {
  visibility: visible;
  height: auto;

  a {
    display: inline-block;
    width: 100%;
  }
}
